/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet';

$font-family-sans-serif: "Jost", sans-serif;
$presentation-heading-color: #80AAD7;
$presentation-title-slide-text-align: "left";

// colors
$blue:    #1b5380 !default;
$orange:  #C65227 !default;
$yellow:  #e9b444 !default;
$green:   #4eb180 !default;
$lightblue:    #6fc5e9 !default;
$dark:    #222326 !default;
$offwhite: #fcfbfa !default;

$body-bg: #fcfbfa;
$body-color: #222326;
$link-color: #C65227;
$code-block-bg: $body-bg;
$code-block-border-color: $body-bg;
$tabset-border-color: $body-color;


/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}


// Navbar

.navbar {
  font-size: 0.75em;
  border: 1px solid rgba(0, 0, 0, .1);
}

// Typography

.reveal .section-header {
    color: $offwhite;
  font-size: 2.3em;
  font-weight: 300;
}

.reveal .title {
  color: $orange;
  font-size: 1.9em;
  font-weight: 400;
  position: absolute;
  bottom: 415px;
  left: 700px;
  text-align: left;
}


.reveal .subtitle {
  color: $dark;
  font-size: .8em;
  font-weight: 300;
  position: absolute;
  bottom: 320px;
  left: 975px;
  text-align: left;
}

.reveal .subtitle-sm {
  color: $dark;
  font-size: .7em;
  font-weight: 300;
  position: absolute;
  bottom: 625px;
  left: 700px;
  text-align: left;
}

.reveal .slide-header {
  font-size: .9em;
  font-weight: 300;
  position: absolute;
  color: $orange;
}

.reveal .text {
  color: $blue;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.reveal .text-sm {
  color: $blue;
  font-size: .9em;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.reveal .slides section, .reveal .slides section>section .footnote {
  line-height: 1.2em !important;
}

.reveal .footnote {
  color: $blue;
  font-size: .4em !important;
  line-height: .7em !important;
}


.reveal .title-slide h1 {
  position: absolute;
}

.reveal p {
  color: $blue;
}

.reveal h1 {
  color: $orange;
}

.reveal h2 {
  color: $orange;
}


blockquote {
  font-style: italic;
}

// body

.reveal .reveal-full-page {
  margin-left: 0px;
}


// video embeds
.reveal .element.style {
  margin: 0% !important;
}

.video-js .vjs-tech {
  left: 200px !important;
  box-shadow: 0px 14px 15px 2px rgba(0,0,0,.3);
  color: #fff;
  background-color: $offwhite !important;
}

.video-js {
  background-color: $offwhite !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content, .vjs-modal-dialog, .vjs-button > .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  position: none !important;
}


.vjs-icon-play, .video-js .vjs-play-control .vjs-icon-placeholder,.vjs-big-play-button .vjs-icon-placeholder:before {
  color: $offwhite;
  background-color: $lightblue;
  border-radius: 100px;
}

.vjs-big-play-button {
  background-color: $offwhite !important;
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
  background-color: $offwhite !important;
}

.vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar {
    display: none;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.1s;
}


// iFrame

.frame
{
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.background-title {
    background-color: #389E70 !important;
}